<div class="accordion-tabs">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd0" name="rd">
                <label for="rd0" class="accordion-menu-item-label menu-label">
                        Quick Start - Create Your First App With Spin
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd1" name="rd">
                <label for="rd1" class="accordion-menu-item-label menu-label">
                        Language Support Overview
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd2" name="rd">
                <label for="rd2" class="accordion-menu-item-label menu-label">
                        Get Started
                </label>
                <ul class="menu-list accordion-menu-item-content">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd3" name="rd">
                <label for="rd3" class="accordion-menu-item-label menu-label">
                        Introduction
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd4" name="rd">
                <label for="rd4" class="accordion-menu-item-label menu-label">
                        Learn About Spin App Fundamentals - Trigger, Components, and Application Manifest
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd5" name="rd">
                <label for="rd5" class="accordion-menu-item-label menu-label">
                        Applications
                </label>
                <ul class="menu-list accordion-menu-item-content">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd6" name="rd">
                <label for="rd6" class="accordion-menu-item-label menu-label">
                        Writing Applications
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd7" name="rd">
                <label for="rd7" class="accordion-menu-item-label menu-label">
                        Triggers
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd8" name="rd">
                <label for="rd8" class="accordion-menu-item-label menu-label">
                        API Support Overview
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd9" name="rd">
                <label for="rd9" class="accordion-menu-item-label menu-label">
                        Key Value Store
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd10" name="rd">
                <label for="rd10" class="accordion-menu-item-label menu-label">
                        Making HTTP Requests
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd11" name="rd">
                <label for="rd11" class="accordion-menu-item-label menu-label">
                        Templates
                </label>
                <ul class="menu-list accordion-menu-item-content">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd12" name="rd">
                <label for="rd12" class="accordion-menu-item-label menu-label">
                        Creating Spin Templates
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd13" name="rd">
                <label for="rd13" class="accordion-menu-item-label menu-label">
                        Creating Spin Plugins
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd14" name="rd">
                <label for="rd14" class="accordion-menu-item-label menu-label">
                        Build Your First Serverless AI App
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd15" name="rd">
                <label for="rd15" class="accordion-menu-item-label menu-label">
                        Fermyon Cloud
                </label>
                <ul class="menu-list accordion-menu-item-content">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd16" name="rd">
                <label for="rd16" class="accordion-menu-item-label menu-label">
                        Get Started
                </label>
                <ul class="menu-list accordion-menu-item-content">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd17" name="rd">
                <label for="rd17" class="accordion-menu-item-label menu-label">
                        Introduction
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd18" name="rd">
                <label for="rd18" class="accordion-menu-item-label menu-label">
                        Develop a Spin Application
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd19" name="rd">
                <label for="rd19" class="accordion-menu-item-label menu-label">
                        The Fermyon Cloud
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd20" name="rd">
                <label for="rd20" class="accordion-menu-item-label menu-label">
                        Using VS Code Extension
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd21" name="rd">
                <label for="rd21" class="accordion-menu-item-label menu-label">
                        The User Settings Screen
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd22" name="rd">
                <label for="rd22" class="accordion-menu-item-label menu-label">
                        Kubernetes
                </label>
                <ul class="menu-list accordion-menu-item-content">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd23" name="rd">
                <label for="rd23" class="accordion-menu-item-label menu-label">
                        Spin on Kubernetes
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                </ul>
        </div>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd24" name="rd">
                <label for="rd24" class="accordion-menu-item-label menu-label">
                        CLI Reference
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd25" name="rd">
                <label for="rd25" class="accordion-menu-item-label menu-label">
                        Contributing to Docs
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd26" name="rd">
                <label for="rd26" class="accordion-menu-item-label menu-label">
                        Spin Improvement Proposals
                </label>
                <ul class="menu-list accordion-menu-item-content">
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "#TODO_URL_MAPPING")} class="active" {/if} href="{{site.info.base_url}}#TODO_URL_MAPPING">#TODO_LABEL_MAPPING</a></li>
                </ul>
        </div>
                </ul>
        </div>
</div>
