<div class="accordion-tabs">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd0" name="rd">
                <label for="rd0" class="accordion-menu-item-label menu-label">
                        Quick Start - Create Your First App With Spin
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/wasm-language-guides")} class="active" {/if} href="{{site.info.base_url}}/path/to/wasm-language-guides">Wasm Language Guides</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd1" name="rd">
                <label for="rd1" class="accordion-menu-item-label menu-label">
                        Language Support Overview
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/rust")} class="active" {/if} href="{{site.info.base_url}}/path/to/rust">Rust</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/go")} class="active" {/if} href="{{site.info.base_url}}/path/to/go">Go</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/javascript")} class="active" {/if} href="{{site.info.base_url}}/path/to/javascript">Javascript</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/python")} class="active" {/if} href="{{site.info.base_url}}/path/to/python">Python</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/other-languages")} class="active" {/if} href="{{site.info.base_url}}/path/to/other-languages">Other Languages</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/creating-apps-with-spin")} class="active" {/if} href="{{site.info.base_url}}/path/to/creating-apps-with-spin">Creating Apps With Spin</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd2" name="rd">
                <label for="rd2" class="accordion-menu-item-label menu-label">
                        Get Started
                </label>
                <ul class="menu-list accordion-menu-item-content">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd3" name="rd">
                <label for="rd3" class="accordion-menu-item-label menu-label">
                        Introduction
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/install")} class="active" {/if} href="{{site.info.base_url}}/path/to/install">Install</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/upgrade")} class="active" {/if} href="{{site.info.base_url}}/path/to/upgrade">Upgrade</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/resources-(discord-link-etc.)")} class="active" {/if} href="{{site.info.base_url}}/path/to/resources-(discord-link-etc.)">Resources (Discord link etc.)</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/concepts")} class="active" {/if} href="{{site.info.base_url}}/path/to/concepts">Concepts</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd4" name="rd">
                <label for="rd4" class="accordion-menu-item-label menu-label">
                        Learn About Spin App Fundamentals - Trigger, Components, and Application Manifest
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/learn-about-spin-internal-data-layout")} class="active" {/if} href="{{site.info.base_url}}/path/to/learn-about-spin-internal-data-layout">Learn About Spin Internal Data Layout</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/learn-about-spin-app-swappable-resources---runtime-configuration")} class="active" {/if} href="{{site.info.base_url}}/path/to/learn-about-spin-app-swappable-resources---runtime-configuration">Learn About Spin App Swappable Resources - Runtime configuration</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/how-to")} class="active" {/if} href="{{site.info.base_url}}/path/to/how-to">How To</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd5" name="rd">
                <label for="rd5" class="accordion-menu-item-label menu-label">
                        Applications
                </label>
                <ul class="menu-list accordion-menu-item-content">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd6" name="rd">
                <label for="rd6" class="accordion-menu-item-label menu-label">
                        Writing Applications
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/structuring-applications")} class="active" {/if} href="{{site.info.base_url}}/path/to/structuring-applications">Structuring Applications</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/compiling-applications")} class="active" {/if} href="{{site.info.base_url}}/path/to/compiling-applications">Compiling Applications</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/running-applications")} class="active" {/if} href="{{site.info.base_url}}/path/to/running-applications">Running Applications</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/publishing-and-distribution")} class="active" {/if} href="{{site.info.base_url}}/path/to/publishing-and-distribution">Publishing and Distribution</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/observing-applications")} class="active" {/if} href="{{site.info.base_url}}/path/to/observing-applications">Observing Applications</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/troubleshooting-application-development")} class="active" {/if} href="{{site.info.base_url}}/path/to/troubleshooting-application-development">Troubleshooting Application Development</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/triggers")} class="active" {/if} href="{{site.info.base_url}}/path/to/triggers">Triggers</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd7" name="rd">
                <label for="rd7" class="accordion-menu-item-label menu-label">
                        Triggers
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/the-http-trigger")} class="active" {/if} href="{{site.info.base_url}}/path/to/the-http-trigger">The HTTP Trigger</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/the-redis-trigger")} class="active" {/if} href="{{site.info.base_url}}/path/to/the-redis-trigger">The Redis Trigger</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/building-custom-triggers---extending-and-embedding-spin")} class="active" {/if} href="{{site.info.base_url}}/path/to/building-custom-triggers---extending-and-embedding-spin">Building Custom Triggers - Extending and Embedding Spin</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/api-guides")} class="active" {/if} href="{{site.info.base_url}}/path/to/api-guides">API Guides</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd8" name="rd">
                <label for="rd8" class="accordion-menu-item-label menu-label">
                        API Support Overview
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/storage")} class="active" {/if} href="{{site.info.base_url}}/path/to/storage">Storage</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd9" name="rd">
                <label for="rd9" class="accordion-menu-item-label menu-label">
                        Key Value Store
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/sqlite-storage")} class="active" {/if} href="{{site.info.base_url}}/path/to/sqlite-storage">SQLite Storage</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/redis-storage")} class="active" {/if} href="{{site.info.base_url}}/path/to/redis-storage">Redis Storage</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/relational-database-storage")} class="active" {/if} href="{{site.info.base_url}}/path/to/relational-database-storage">Relational Database Storage</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/outbound-connectivity")} class="active" {/if} href="{{site.info.base_url}}/path/to/outbound-connectivity">Outbound connectivity</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd10" name="rd">
                <label for="rd10" class="accordion-menu-item-label menu-label">
                        Making HTTP Requests
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/mqtt-messaging")} class="active" {/if} href="{{site.info.base_url}}/path/to/mqtt-messaging">MQTT Messaging</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/serverless-ai")} class="active" {/if} href="{{site.info.base_url}}/path/to/serverless-ai">Serverless AI</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/application-variables")} class="active" {/if} href="{{site.info.base_url}}/path/to/application-variables">Application Variables</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/tools")} class="active" {/if} href="{{site.info.base_url}}/path/to/tools">Tools</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd11" name="rd">
                <label for="rd11" class="accordion-menu-item-label menu-label">
                        Templates
                </label>
                <ul class="menu-list accordion-menu-item-content">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd12" name="rd">
                <label for="rd12" class="accordion-menu-item-label menu-label">
                        Creating Spin Templates
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/managing-templates")} class="active" {/if} href="{{site.info.base_url}}/path/to/managing-templates">Managing Templates</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/plugins")} class="active" {/if} href="{{site.info.base_url}}/path/to/plugins">Plugins</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd13" name="rd">
                <label for="rd13" class="accordion-menu-item-label menu-label">
                        Creating Spin Plugins
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/managing-plugins")} class="active" {/if} href="{{site.info.base_url}}/path/to/managing-plugins">Managing Plugins</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/triggers")} class="active" {/if} href="{{site.info.base_url}}/path/to/triggers">Triggers</a></li>
                </ul>
        </div>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/tutorials")} class="active" {/if} href="{{site.info.base_url}}/path/to/tutorials">Tutorials</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd14" name="rd">
                <label for="rd14" class="accordion-menu-item-label menu-label">
                        Build Your First Serverless AI App
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/sentiment-analysis-with-serverless-ai")} class="active" {/if} href="{{site.info.base_url}}/path/to/sentiment-analysis-with-serverless-ai">Sentiment Analysis With Serverless AI</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/building-a-url-shortener-with-spin")} class="active" {/if} href="{{site.info.base_url}}/path/to/building-a-url-shortener-with-spin">Building a URL Shortener With Spin</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/spin-apps-in-registries")} class="active" {/if} href="{{site.info.base_url}}/path/to/spin-apps-in-registries">Spin Apps in Registries</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/spin-key-value-store")} class="active" {/if} href="{{site.info.base_url}}/path/to/spin-key-value-store">Spin Key-Value Store</a></li>
                </ul>
        </div>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/deploying-your-spin-app")} class="active" {/if} href="{{site.info.base_url}}/path/to/deploying-your-spin-app">Deploying your Spin App</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd15" name="rd">
                <label for="rd15" class="accordion-menu-item-label menu-label">
                        Fermyon Cloud
                </label>
                <ul class="menu-list accordion-menu-item-content">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd16" name="rd">
                <label for="rd16" class="accordion-menu-item-label menu-label">
                        Get Started
                </label>
                <ul class="menu-list accordion-menu-item-content">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd17" name="rd">
                <label for="rd17" class="accordion-menu-item-label menu-label">
                        Introduction
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/quickstart")} class="active" {/if} href="{{site.info.base_url}}/path/to/quickstart">Quickstart</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/applications")} class="active" {/if} href="{{site.info.base_url}}/path/to/applications">Applications</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd18" name="rd">
                <label for="rd18" class="accordion-menu-item-label menu-label">
                        Develop a Spin Application
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/deploy-an-application")} class="active" {/if} href="{{site.info.base_url}}/path/to/deploy-an-application">Deploy an Application</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/upgrade-an-application")} class="active" {/if} href="{{site.info.base_url}}/path/to/upgrade-an-application">Upgrade an Application</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/delete-an-application")} class="active" {/if} href="{{site.info.base_url}}/path/to/delete-an-application">Delete an Application</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/concepts")} class="active" {/if} href="{{site.info.base_url}}/path/to/concepts">Concepts</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd19" name="rd">
                <label for="rd19" class="accordion-menu-item-label menu-label">
                        The Fermyon Cloud
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/deployment-concepts")} class="active" {/if} href="{{site.info.base_url}}/path/to/deployment-concepts">Deployment Concepts</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/custom-domain")} class="active" {/if} href="{{site.info.base_url}}/path/to/custom-domain">Custom Domain</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/linking-apps-to-resources-using-labels")} class="active" {/if} href="{{site.info.base_url}}/path/to/linking-apps-to-resources-using-labels">Linking Apps To Resources Using Labels</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/tutorials")} class="active" {/if} href="{{site.info.base_url}}/path/to/tutorials">Tutorials</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd20" name="rd">
                <label for="rd20" class="accordion-menu-item-label menu-label">
                        Using VS Code Extension
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/cloud-key-value-store")} class="active" {/if} href="{{site.info.base_url}}/path/to/cloud-key-value-store">Cloud Key-Value Store</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/persisting-data-with-sqlite-database")} class="active" {/if} href="{{site.info.base_url}}/path/to/persisting-data-with-sqlite-database">Persisting Data With SQLite Database</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/persisting-data-with-redis")} class="active" {/if} href="{{site.info.base_url}}/path/to/persisting-data-with-redis">Persisting Data With Redis</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/persisting-data-with-postgresql")} class="active" {/if} href="{{site.info.base_url}}/path/to/persisting-data-with-postgresql">Persisting Data With PostgreSQL</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/deploying-spin-apps-using-github-action")} class="active" {/if} href="{{site.info.base_url}}/path/to/deploying-spin-apps-using-github-action">Deploying Spin Apps Using GitHub Action</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/apply-custom-fermyon-subdomain")} class="active" {/if} href="{{site.info.base_url}}/path/to/apply-custom-fermyon-subdomain">Apply Custom Fermyon Subdomain</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/apply-custom-domain")} class="active" {/if} href="{{site.info.base_url}}/path/to/apply-custom-domain">Apply Custom Domain</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/configuring-app-variables-and-secrets")} class="active" {/if} href="{{site.info.base_url}}/path/to/configuring-app-variables-and-secrets">Configuring App Variables and Secrets</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/support")} class="active" {/if} href="{{site.info.base_url}}/path/to/support">Support</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd21" name="rd">
                <label for="rd21" class="accordion-menu-item-label menu-label">
                        The User Settings Screen
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/quotas,-limitations,-and-technical-faq")} class="active" {/if} href="{{site.info.base_url}}/path/to/quotas,-limitations,-and-technical-faq">Quotas, Limitations, and Technical FAQ</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/pricing-and-billing")} class="active" {/if} href="{{site.info.base_url}}/path/to/pricing-and-billing">Pricing and Billing</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/how-to-get-help?")} class="active" {/if} href="{{site.info.base_url}}/path/to/how-to-get-help?">How to Get Help?</a></li>
                </ul>
        </div>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/fermyon-platform-for-kubernetes")} class="active" {/if} href="{{site.info.base_url}}/path/to/fermyon-platform-for-kubernetes">Fermyon Platform For Kubernetes</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd22" name="rd">
                <label for="rd22" class="accordion-menu-item-label menu-label">
                        Kubernetes
                </label>
                <ul class="menu-list accordion-menu-item-content">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd23" name="rd">
                <label for="rd23" class="accordion-menu-item-label menu-label">
                        Spin on Kubernetes
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/spin-in-pods-(legacy)")} class="active" {/if} href="{{site.info.base_url}}/path/to/spin-in-pods-(legacy)">Spin in Pods (Legacy)</a></li>
                </ul>
        </div>
                </ul>
        </div>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/references")} class="active" {/if} href="{{site.info.base_url}}/path/to/references">References</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd24" name="rd">
                <label for="rd24" class="accordion-menu-item-label menu-label">
                        CLI Reference
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/application-manifest-(version-1)-reference")} class="active" {/if} href="{{site.info.base_url}}/path/to/application-manifest-(version-1)-reference">Application Manifest (Version 1) Reference</a></li>
                        <li><a {#if (active_project request.spin-full-url "/path/to/application-manifest-reference")} class="active" {/if} href="{{site.info.base_url}}/path/to/application-manifest-reference">Application Manifest Reference</a></li>
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/contributing")} class="active" {/if} href="{{site.info.base_url}}/path/to/contributing">Contributing</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd25" name="rd">
                <label for="rd25" class="accordion-menu-item-label menu-label">
                        Contributing to Docs
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {#if (active_project request.spin-full-url "/path/to/contributing-to-spin")} class="active" {/if} href="{{site.info.base_url}}/path/to/contributing-to-spin">Contributing to Spin</a></li>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd26" name="rd">
                <label for="rd26" class="accordion-menu-item-label menu-label">
                        Spin Improvement Proposals
                </label>
                <ul class="menu-list accordion-menu-item-content">
                </ul>
        </div>
                        <li><a {#if (active_project request.spin-full-url "/path/to/contributing-to-spinkube")} class="active" {/if} href="{{site.info.base_url}}/path/to/contributing-to-spinkube">Contributing to SpinKube</a></li>
                </ul>
        </div>
                </ul>
        </div>
</div>
