<div id="search-modal-container" class="search-modal-container">
    <div class="modal-close"></div>
</div>
<script src="{{site.info.base_url}}/static/js/headroom.min.js"></script>
<script src="{{site.info.base_url}}/static/js/highlight.min.js"></script>
<script src="{{site.info.base_url}}/static/js/lunr.min.js"></script>
<script src="{{site.info.base_url}}/static/js/redom.min.js"></script>
<script src="{{site.info.base_url}}/static/js/main.js"></script>