{{! This adds the HTML head section and the beginning of the body. See content_top.hbs. }}
{{> content_top }}

<main class="container page-wrap developer-home-wrap">
    <div class="columns">

        {{! This adds the sidebar }}
        <div class="menu-wrap is-narrow is-hidden-desktop" id="docsMenu">
            <aside class="menu">

                <div id="search-button-container" class="search-button-container"></div>

                <p class="menu-label">
                    Projects
                </p>
                <ul class="menu-list">
                    <li><a href="/spin/index" {{#if (active_project request.spin-path-info "/spin/" )}} class="is-active" {{/if}}>Spin</a></li>
                    <li><a href="/cloud/index" {{#if (active_project request.spin-path-info "/cloud/" )}} class="is-active" {{/if}}>Fermyon Cloud</a></li>
                    <li><a href="/bartholomew/index" {{#if (active_project request.spin-path-info "/cloud/" )}} class="is-active" {{/if}}>Bartholomew</a></li>
                </ul>

                <a class="navbar-item button is-primary is-rounded is-small" href="https://cloud.fermyon.com/" target="_blank">Login to Cloud</a>
            </aside>
        </div>

        <article class="column content content-docs content-docs-wide">
            <section id="intro">
                <h1>Welcome to the<br>Fermyon Developer Home</h1>
                <p class="lead">We're bringing the joy back to cloud development.</p>
            </section>

            <section id="projects">
                <div  class="columns is-multiline">
                    
                    <!-- projects here -->
                    <div class="column is-one-third-desktop is-full-touch">
                        <div class="card card-one project">
                            <div class="card-image dark">
                                <figure class="image">
                                    <a href="/cloud/index" target="_blank"><img src="{{site.info.base_url}}/static/image/project-left-cloud-dark.png" alt="Fermyon Cloud" /></a>
                                </figure>
                            </div>
                            <div class="card-image light">
                                <figure class="image">
                                    <a href="/cloud/index" target="_blank"><img src="{{site.info.base_url}}/static/image/project-left-cloud-light.png" alt="Fermyon Cloud" /></a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <h3><a href="/cloud/index" target="_blank">Deploy &amp; manage cloud native WebAssembly apps</a></h3>
                                <p>Go from blinking cursor to deployed app in two minutes.</p>

                                <a class="button is-rounded is-primary" href="/cloud/index" target="_blank"><strong>Learn More</strong></a>
                            </div>
                        </div>
                    </div>

                    <div class="column is-one-third-desktop is-full-touch">
                        <div class="card card-two project">
                            <div class="card-image dark">
                                <figure class="image">
                                    <a href="/spin/index" target="_blank"><img src="{{site.info.base_url}}/static/image/project-left-spin-dark.png" alt="Spin" /></a>
                                </figure>
                            </div>
                            <div class="card-image light">
                                <figure class="image">
                                    <a href="/spin/index" target="_blank"><img src="{{site.info.base_url}}/static/image/project-left-spin-light.png" alt="Spin" /></a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <h3><a href="/spin/index" target="_blank">Developer tool for serverless WebAssembly apps</a></h3>
                                <p>Compose serverless applications and quickly deploy to Fermyon Cloud.</p>

                                <a class="button is-rounded is-primary" href="/spin/index" target="_blank"><strong>Learn More</strong></a>
                            </div>
                        </div>
                    </div>

                    <div class="column is-one-third-desktop is-full-touch">
                        <div class="card card-one project">
                            <div class="card-image dark">
                                <figure class="image">
                                    <a href="/bartholomew/index" target="self"><img src="{{site.info.base_url}}/static/image/project-left-bart-dark.png" alt="Bartholemew" /></a>
                                </figure>
                            </div>
                            <div class="card-image light">
                                <figure class="image">
                                    <a href="/bartholomew/index" target="self"><img src="{{site.info.base_url}}/static/image/project-left-bart-light.png" alt="Bartholemew" /></a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <h3><a href="/bartholomew/index" target="self">A micro-CMS for WebAssembly &amp; Spin</a></h3>
                                <p>Compiled to WebAssembly, Bartholomew can run in any Spin environment.</p>

                                <a class="button is-rounded is-primary" href="/bartholomew/index" target="self"><strong>Learn More</strong></a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section id="community">
                <div class="columns is-multiline">
                    <div class="column is-two-thirds-desktop is-full-touch is-">
                        <h2>Where to find us next</h2>

                        <div class="community-highlight main-carousel">
                            <article class="community-highlight carousel-cell">
                                <a href="https://events.hashicorp.com/hashitalksdeploy" target="_blank">
                                    <event>
                                        <date>
                                            December 7-8
                                        </date>
                                        <eventtitle>
                                            HashiTalks: Deploy
                                        </eventtitle>
                                        <p>A free virtual event for the HashiCorp community of application developers on December 7 &amp; 8, 2022. Tune-in to hear from and learn with fellow practitioners.</p>
                                        <img src="static/image/community-hashitalk.svg" alt="HashiTalk" class="event-logo" />
                                    </event>
                                </a>
                            </article>
                            <article class="carousel-cell">
                                <a href="https://discord.gg/pgmAPVbu?event=1037841499188105378" target="_blank">
                                    <event>
                                        <date>
                                            December 8 @ 12PM (PST) / 8PM (GMT)
                                        </date>
                                        <eventtitle>
                                            Community Q&amp;A
                                        </eventtitle>
                                        <p>Join our Discord for an hour of a little demo'ing and Q&amp;A with the Fermyon team. Bring all your questions, or things you want to show to the rest of the community!</p>
                                        <img src="static/image/community-qanda.svg" alt="Community Q&A" class="event-logo" />
                                    </event>
                                </a>
                            </article>
                        </div>
                    </div>
                    <div class="column is-one-third-desktop is-full-touch">
                        <h2>Connect</h2>

                        <ul class="connect-links">
                            <li>
                                <a href="https://discord.gg/AAFNfS7NGf" target="_blank">Discord <span class="external"></span></a>
                            </li>
                            <li>
                                <a href="https://github.com/fermyon" target="_blank">GitHub <span class="external"></span></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/fermyontech/" target="_blank">Instagram <span class="external"></span></a>
                            </li>
                             <li>
                                <a href="https://www.linkedin.com/company/fermyon/" target="_blank">LinkedIn <span class="external"></span></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/fermyontech" target="_blank">Twitter <span class="external"></span></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCGgsMYwLxmIgv1lXaActZqw" target="_blank">YouTube <span class="external"></span></a>
                            </li>
                            <li>
                                <a href="https://jobs.lever.co/fermyon-technologies" target="_blank">We're hiring! <span class="external"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </section>
        </article>

        <script src="./static/js/flickity.min.js"></script>
        <script>
            var elem = document.querySelector('.main-carousel');
            var flkty = new Flickity( elem, {
            // options
            cellAlign: 'left',
            contain: true
            });

            // element argument can be a selector string
            //   for an individual element
            var flkty = new Flickity( '.main-carousel', {
            // options
            });
        </script>

    </div>
</main>

{{! This closes the body. See content_bottom.hbs. }}
{{> content_bottom }}

</body>
</html>
