{{! This adds the HTML head section and the beginning of the body. See content_top.hbs. }}
{{> content_top }}

<main class="container page-wrap developer-home-wrap">
    <div class="columns">

        {{! This adds the sidebar }}
        <div class="menu-wrap is-narrow is-hidden-desktop" id="docsMenu">
            <aside class="menu">

                <div id="search-button-container" class="search-button-container plausible-event-name=docs-search-open"></div>

                <p class="menu-label">
                    Projects
                </p>
                <ul class="menu-list">
                    <li><a href="/spin/index" {{#if (active_project request.spin-path-info "/spin/" )}}
                            class="is-active" {{/if}}>Spin</a></li>
                    <li><a href="/cloud/index" {{#if (active_project request.spin-path-info "/cloud/" )}}
                            class="is-active" {{/if}}>Fermyon Cloud</a></li>
                    <li><a href="/bartholomew/index" {{#if (active_project request.spin-path-info "/cloud/" )}}
                            class="is-active" {{/if}}>Bartholomew</a></li>
                    <li><a href="/hub" {{#if (active_project request.spin-path-info "/cloud/" )}}
                            class="is-active" {{/if}}>Spin Up Hub</a></li>
                </ul>

                <a class="navbar-item button is-primary is-rounded is-small" href="https://cloud.fermyon.com/"
                    target="_blank">Login to Cloud</a>
            </aside>
        </div>

        <article class="column content content-docs content-docs-wide">
            <section id="intro">
                <h1>Welcome to the<br>Fermyon Developer Home</h1>
                <p class="lead">We're bringing the joy back to cloud development.</p>
            </section>

            <section id="projects">
                <div class="columns is-multiline">

                    <!-- projects here -->
                    <div class="column is-one-third-desktop is-full-touch">
                        <a class="card-link" href="/cloud/index" target="_self">
                            <div class="card card-one project">
                                <div class="card-image dark">
                                    <figure class="image">
                                        <img src="{{site.info.base_url}}/static/image/project-left-cloud-dark.png"
                                            alt="Fermyon Cloud" />
                                    </figure>
                                </div>
                                <div class="card-image light">
                                    <figure class="image"><img
                                            src="{{site.info.base_url}}/static/image/project-left-cloud-light.png"
                                            alt="Fermyon Cloud" />
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <h3><span>Deploy &amp; manage cloud native WebAssembly apps</span>
                                    </h3>
                                    <p>Go from blinking cursor to deployed app in two minutes.</p>

                                    <span class="button is-rounded is-primary" href="/spin/index">Learn More</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="column is-one-third-desktop is-full-touch">
                        <a class="card-link" href="/spin/index" target="_self">
                            <div class="card card-two project">
                                <div class="card-image dark">
                                    <figure class="image">
                                        <img src="{{site.info.base_url}}/static/image/project-left-spin-dark.png"
                                            alt="Spin" />
                                    </figure>
                                </div>
                                <div class="card-image light">
                                    <figure class="image">
                                        <img src="{{site.info.base_url}}/static/image/project-left-spin-light.png"
                                            alt="Spin" />
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <h3><span>Developer tool for serverless WebAssembly apps</span></h3>
                                    <p>Compose serverless applications and quickly deploy to Fermyon Cloud.</p>

                                    <span class="button is-rounded is-primary">Learn More</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="column is-one-third-desktop is-full-touch">
                        <a class="card-link" href="/bartholomew/index" target="_self">
                            <div class="card card-one project">
                                <div class="card-image dark">
                                    <figure class="image">
                                        <img src="{{site.info.base_url}}/static/image/project-left-bart-dark.png"
                                            alt="Bartholemew" />
                                    </figure>
                                </div>
                                <div class="card-image light">
                                    <figure class="image">
                                        <img src="{{site.info.base_url}}/static/image/project-left-bart-light.png"
                                            alt="Bartholemew" />
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <h3><span>A micro-CMS for WebAssembly &amp;
                                            Spin</span></h3>
                                    <p>Compiled to WebAssembly, Bartholomew can run in any Spin environment.</p>

                                    <span class="button is-rounded is-primary">Learn More</span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </section>

            <section id=" community">
                <div class="columns is-multiline">
                    <div class="column is-two-thirds-desktop is-full-touch is-">
                        <h2>Where to find us next</h2>
                        <div class="community-highlight main-carousel">
                            {{#with (events site.pages)}}
                            {{#each this }}
                            <article class="community-highlight carousel-cell"
                                data-expirydate="{{this.page.head.extra.eventexpires}}">
                                <a href="{{this.page.head.extra.url}}" target="_blank">
                                    <event>
                                        <date>
                                            {{this.page.head.extra.eventdates}}
                                        </date>
                                        <eventtitle>
                                            {{this.page.head.title}}
                                        </eventtitle>
                                        <p>{{this.page.head.description}}</p>
                                        <img src="{{this.page.head.extra.image}}" alt="{{this.page.head.title}}"
                                            class="event-logo" />
                                    </event>
                                </a>
                            </article>
                            {{/each}}
                            {{/with}}
                            {{#unless (events site.pages)}}
                            <article class="community-highlight carousel-cell">
                                <a href="#">
                                    <event>
                                        <date>
                                        </date>
                                        <eventtitle>No upcoming Events
                                        </eventtitle>
                                        <p></p>
                                        <img class="event-logo" />
                                    </event>
                                </a>
                            </article>
                            {{/unless}}
                        </div>
                    </div>
                    <div class="column is-one-third-desktop is-full-touch">
                        <h2>Connect</h2>

                        <ul class="connect-links">
                            <li class="is-hidden-mobile">
                                <a href="{{site.info.base_url}}/cloud/changelog">Changelog <span
                                        class="external"></span></a>
                            </li>
                            <li class="is-hidden-mobile">
                                <a href="https://discord.gg/AAFNfS7NGf" target="_blank">Discord
                                    <span class="external"></span></a>
                            </li>
                            <li class="is-hidden-mobile">
                                <a href="https://github.com/fermyon" target="_blank">GitHub
                                    <span class="external"></span></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/fermyontech/" target="_blank">Instagram <span
                                        class="external"></span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/fermyon/" target="_blank">LinkedIn <span
                                        class="external"></span></a>
                            </li>
                            <li class="is-hidden-mobile">
                                <a href="https://twitter.com/fermyontech" target="_blank">Twitter <span
                                        class="external"></span></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCGgsMYwLxmIgv1lXaActZqw"
                                    target="_blank">YouTube <span class="external"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </section>

             {{> content_footer }}
        </article>

        <script src="./static/js/flickity.min.js"></script>
    </div>
</main>

{{! This closes the body. See content_bottom.hbs. }}
{{> content_bottom }}

</body>

</html>