{{! This adds the HTML head section and the beginning of the body. See content_top.hbs. }}
{{> content_top }}

<main class="container is-fullwidth is-widescreen page-wrap">
    <div class="columns">

        {{! This adds the sidebar }}
        {{#if (active_project request.spin-path-info "/spin/" )}}
        {{> spin_sidebar }}
        {{else}}
        {{#if (active_project request.spin-path-info "/cloud/" )}}
        {{> cloud_sidebar }}
        {{else}}
        {{#if (active_project request.spin-path-info "/bartholomew/" )}}
        {{> bartholomew_sidebar }}
        {{/if}}
        {{/if}}
        {{/if}}
        
        <article class="column content content-docs content-docs-wide">
            <section id="type">

                {{#if (eq page.head.title "Not Found")}}
                {{> 404 }}
                {{else}}
                <h1 class="blog-post-title border-bottom">{{page.head.title}}</h1>
                {{{page.body}}}
                {{/if}}
            </section>
        </article>

    </div>
</main>

{{! This closes the body. See content_bottom.hbs. }}
{{> content_bottom }}

</body>

</html>