<div class="accordion-tabs">
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd0" name="rd">
                <label for="rd0" class="accordion-menu-item-label menu-label">
                        Get Started
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/index" )}} class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/">Introduction</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/quickstart" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/quickstart">Quickstart</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/install" )}} class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/install">Install</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/upgrade" )}} class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/upgrade">Upgrade</a></li>
                        <li><a {{#if (active_project
                                        request.spin-full-url "/spin/v2/see-what-people-have-built-with-spin" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/see-what-people-have-built-with-spin">Built
                                        With Spin</a></li>
                </ul>
        </div>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd2" name="rd">
                <label for="rd2" class="accordion-menu-item-label menu-label">
                        Applications
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/writing-apps" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/writing-apps">Writing
                                        Applications</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/spin-application-structure" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/spin-application-structure">Structuring
                                        Applications</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/build" )}} class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/build">Compiling
                                        Applications</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/running-apps" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/running-apps">Running
                                        Applications</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/distributing-apps" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/distributing-apps">Publishing and
                                        Distribution</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/troubleshooting-application-dev"
                                        )}} class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/troubleshooting-application-dev">Troubleshooting
                                        Application Development</a></li>
                </ul>
        </div>

        <div class="accordion-menu-item">
                <input type="checkbox" id="rd12" name="rd">
                <label for="rd12" class="accordion-menu-item-label menu-label">
                        Language Guides
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/language-support-overview" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/language-support-overview">Language
                                        Support
                                        Overview</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/rust-components" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/rust-components">Rust</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/go-components" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/go-components">Go</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/javascript-components" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/javascript-components">Javascript</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/python-components" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/python-components">Python</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/other-languages" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/other-languages">Other
                                        Languages</a>
                        </li>
                </ul>
        </div>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd3" name="rd">
                <label for="rd3" class="accordion-menu-item-label menu-label">
                        Triggers
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {{#if (active_project request.spin-full-url "/spin/triggers" )}} class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/triggers">Triggers</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/http-trigger" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/http-trigger">The HTTP Trigger</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/redis-trigger" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/redis-trigger">The Redis
                                        Trigger</a>
                        </li>
                </ul>
        </div>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd4" name="rd">
                <label for="rd4" class="accordion-menu-item-label menu-label">
                        API Guides
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/api-guides-overview" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/api-guides-overview">API Support
                                        Overview</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/http-outbound" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/http-outbound">Making HTTP
                                        Requests</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/kv-store-api-guide" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/kv-store-api-guide">Key
                                        Value
                                        Store</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/serverless-ai-api-guide" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/serverless-ai-api-guide">Serverless
                                        AI</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/sqlite-api-guide" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/sqlite-api-guide">SQLite Storage</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/redis-outbound" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/redis-outbound">Redis Storage</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/rdbms-storage" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/rdbms-storage">Relational Database
                                        Storage</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/variables" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/variables">Application
                                        Variables</a></li>
                </ul>
        </div>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd5" name="rd">
                <label for="rd5" class="accordion-menu-item-label menu-label">
                        Tutorials
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/serverless-ai-hello-world" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/serverless-ai-hello-world.md">Build Your
                                        First
                                        Serverless AI App</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/ai-sentiment-analysis-api-tutorial"
                                        )}} class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/ai-sentiment-analysis-api-tutorial">Sentiment
                                        Analysis With Serverless AI</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/url-shortener-tutorial" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/url-shortener-tutorial">Building a URL
                                        Shortener With Spin</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/registry-tutorial" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/registry-tutorial">Spin Apps in
                                        Registries</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/key-value-store-tutorial" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/key-value-store-tutorial">Spin
                                        Key-Value Store</a></li>
                </ul>
        </div>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd6" name="rd">
                <label for="rd6" class="accordion-menu-item-label menu-label">
                        Tools
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/managing-templates" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/managing-templates">Managing
                                        Templates</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/managing-plugins" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/managing-plugins">Managing Plugins</a>
                        </li>
                </ul>
        </div>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd7" name="rd">
                <label for="rd7" class="accordion-menu-item-label menu-label">
                        References
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/cli-reference" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/cli-reference">CLI Reference</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/manifest-reference-v1" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/manifest-reference-v1">Application
                                        Manifest (Version 1)
                                        Reference</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/manifest-reference" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/manifest-reference">Application
                                        Manifest
                                        Reference</a>
                        </li>
                </ul>
        </div>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd8" name="rd">
                <label for="rd8" class="accordion-menu-item-label menu-label">
                        Advanced
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/extending-and-embedding" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/extending-and-embedding">Extending
                                        and Embedding
                                        Spin</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/deploying-to-fermyon" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/deploying-to-fermyon">Deploying to
                                        Fermyon</a>
                        </li>
                        {{!-- <li><a href="{{site.info.base_url}}/spin/v2/architecture/">Architecture</a></li> --}}
                        <li><a href="https://github.com/fermyon/spin/blob/main/docs/content/sips/index.md"
                                        target="_blank">Spin
                                        Improvement Proposals <img
                                                src="{{site.info.base_url}}/static/image/arrowexternal.svg" width="15"
                                                height="15"></a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/dynamic-configuration" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/dynamic-configuration">Dynamic
                                        Application
                                        Configuration</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/cache" )}} class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/cache">Spin Internal Data
                                        Layout</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/template-authoring" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/template-authoring">Creating Spin
                                        Templates</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/plugin-authoring" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/plugin-authoring">Creating Spin
                                        Plugins</a></li>
                </ul>
        </div>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd9" name="rd">
                <label for="rd9" class="accordion-menu-item-label menu-label">
                        Kubernetes
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/kubernetes" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/kubernetes">Spin on Kubernetes</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/kubernetes-sidecars" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/kubernetes-sidecars">Using Sidecars</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/kubernetes-dynamic-configuration" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/kubernetes-dynamic-configuration">Dynamic Application Configuration on Kubernetes</a>
                        </li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/kubernetes-known-issues" )}} class="active"
                                        {{/if}} href="{{site.info.base_url}}/spin/v2/kubernetes-known-issues">Known Issues</a>
                        </li>
                </ul>
        </div>
        <div class="accordion-menu-item">
                <input type="checkbox" id="rd10" name="rd">
                <label for="rd10" class="accordion-menu-item-label menu-label">
                        Contributing
                </label>
                <ul class="menu-list accordion-menu-item-content">
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/contributing-docs" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/contributing-docs">Contributing to
                                        Docs</a></li>
                        <li><a {{#if (active_project request.spin-full-url "/spin/v2/contributing-spin" )}}
                                        class="active" {{/if}}
                                        href="{{site.info.base_url}}/spin/v2/contributing-spin">Contributing to
                                        Spin</a></li>
                </ul>
        </div>
</div>

<div class="button-wrap">
        <div class="is-visible-touch is-hidden-desktop">
                <a class="button is-round is-primary is-outlined is-size-6 is-medium cta-login-to-cloud btn-login"
                        href="https://cloud.fermyon.com/login" target="_blank" aria-label="menuitem"
                        title="Login to Fermyon Cloud">Login to Cloud</a>

                <a class="button is-round is-primary is-outlined is-size-6 is-medium cta-login-to-cloud btn-signup"
                        href="https://cloud.fermyon.com/?signup" target="_blank" aria-label="menuitem"
                        title="Signup for Fermyon Cloud">Signup for Cloud</a>
        </div>
        <a href="{{page.head.extra.url}}" class="button is-round is-primary is-outlined is-size-6 is-medium">
                <svg width="1rem" height="1rem" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <title>This page is editable via GitHub</title>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16 0C7.16 0 0 7.16 0 16C0 23.08 4.58 29.06 10.94 31.18C11.74 31.32 12.04 30.84 12.04 30.42C12.04 30.04 12.02 28.78 12.02 27.44C8 28.18 6.96 26.46 6.64 25.56C6.46 25.1 5.68 23.68 5 23.3C4.44 23 3.64 22.26 4.98 22.24C6.24 22.22 7.14 23.4 7.44 23.88C8.88 26.3 11.18 25.62 12.1 25.2C12.24 24.16 12.66 23.46 13.12 23.06C9.56 22.66 5.84 21.28 5.84 15.16C5.84 13.42 6.46 11.98 7.48 10.86C7.32 10.46 6.76 8.82 7.64 6.62C7.64 6.62 8.98 6.2 12.04 8.26C13.32 7.9 14.68 7.72 16.04 7.72C17.4 7.72 18.76 7.9 20.04 8.26C23.1 6.18 24.44 6.62 24.44 6.62C25.32 8.82 24.76 10.46 24.6 10.86C25.62 11.98 26.24 13.4 26.24 15.16C26.24 21.3 22.5 22.66 18.94 23.06C19.52 23.56 20.02 24.52 20.02 26.02C20.02 28.16 20 29.88 20 30.42C20 30.84 20.3 31.34 21.1 31.18C27.42 29.06 32 23.06 32 16C32 7.16 24.84 0 16 0V0Z"
                                fill="#24292E" />
                </svg>
                Edit this page
        </a>

        <a class="button is-round is-outlined is-secondary is-size-6 is-medium"
                href="https://github.com/fermyon/feedback" target="_blank">
                <svg width="1rem" height="1rem" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <title>We need your input!</title>
                        <path d="M14.7335 0.333008H0.333496V16.333H1.9335V1.93301H14.7335V11.533H3.5335V13.133H1.9335V14.733H3.5335V13.133H16.3335V0.333008H14.7335Z"
                                fill="#8093F1" />
                </svg>
                Product feedback
        </a>

</div>